---
all:
  vars:
    ansible_network_os: vyos.vyos.vyos
    ansible_connection: ansible.netcommon.network_cli
    ansible_user: vyos
    ansible_ssh_private_key_file: ${keypath}
vyos_hosts:
  hosts:
    fw_primary:
      ansible_host: "${fw_float}"
servers:
  hosts:
    server-1:
      ansible_host: "${vm_float}"
